MESSAGE = "/u/WaterGuy12"
SIGNATURE = "^^[Source](https://github.com/jwolff52/waterguy12bot) ^^[You're welcome](https://np.reddit.com/r/me_irl/comments/6qij1u/meirl/dky09x3?context=3) ^^^Pls ^^^^No ^^^Ban"
USERNAME = ''
PASSWORD = ''
USERAGENT = ''
REDDITAPIID = ''
REDDITAPPSECRET = ''
REFRESHTOKEN = ''
SUBREDDITLIST = []
DBNAME = ''
DBUSER = ''
DBHOST = ''
DBPASSWORD = ''
