MESSAGE = "I am a bot. On behalf of Overwatch players, I would like to **thank you for your support**.\n\nWe live in dangerous time. Support is in short supply. That's when you go out of your way to assure the Overwatch community that you are there for them. I, **SupportMainBot**, have made it my mission to thank you."
SIGNATURE = "^^[Source](https://github.com/jwolff52/supportmainbot) ^^[You're welcome](https://np.reddit.com/r/Overwatch/comments/59twda/mercy_tries_to_help_ends_up_killing_me/d9bm5l7?context=1"
USERNAME = ''
PASSWORD = ''
USERAGENT = ''
REDDITAPIID = ''
REDDITAPPSECRET = ''
REFRESHTOKEN = ''
SUBREDDITLIST = []
DBNAME = ''
DBUSER = ''
DBHOST = ''
DBPASSWORD = ''
